.charts-container {
  display: grid;
  grid-template-columns: 2fr 1fr; /* El gráfico de barras ocupará más espacio */
  gap: 1.5rem;
  margin-top: 2rem;
}

.chart-wrapper {
  padding: 1.5rem;
}

/* Para pantallas más pequeñas, los gráficos se pondrán uno debajo del otro */
@media (max-width: 992px) {
  .charts-container {
    grid-template-columns: 1fr;
  }
}